/* 
  HTML5 ✰ Boilerplate 
  
  style.css contains a reset, font normalization and some base styles.
  
  credit is left where credit is due.
  much inspiration was taken from these projects:
    yui.yahooapis.com/2.8.1/build/base/base.css
    camendesign.com/design/
    praegnanz.de/weblog/htmlcssjs-kickstart
*/

/* 
  html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)
  v1.4 2009-07-27 | Authors: Eric Meyer & Richard Clark
  html5doctor.com/html-5-reset-stylesheet/
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}                  

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section { 
    display:block;
}

nav ul { list-style:none; }

blockquote, q { quotes:none; }

blockquote:before, blockquote:after,
q:before, q:after { content:''; content:none; }

a { margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent; }

ins { background-color:#ff9; color:#000; text-decoration:none; }

mark { background-color:#ff9; color:#000; font-style:italic; font-weight:bold; }

del { text-decoration: line-through; }

abbr[title], dfn[title] { border-bottom:1px dotted; cursor:help; }

/* tables still need cellspacing="0" in the markup */
table { border-collapse:collapse; border-spacing:0; }

hr { display:block; height:1px; border:0; border-top:1px solid #ccc; margin:1em 0; padding:0; }

input, select { vertical-align:middle; }
/* END RESET CSS */

/* OUR CSS */
body{
	background-color:#93BFED;
	margin:0px auto;
	margin-bottom: 10px;
	width:800px;
	border:1px solid white;
	border-top:none;
	font-family:sans-serif;
}

h1{
	padding:5px 0px;
	font:2em sans-serif;
	font-weight:bold;
}

article header h1, aside h1, h2{
	padding: 0px;
	font:1.5em sans-serif;
	font-weight:bold;
}

hgroup h2{
	font:1.3em sans-serif;
}

time {
	margin: 5px 0px 0px 0px;
	float:right;
}

header{
	background-color:#B5F797;
	text-align:center;
	width:100%;
}

article header{
	border-bottom:1px solid white;
	text-align:left;
}

nav{
	background-color:#B6E6A1;
	height:40px;
	margin:0px 0px 10px 0px;
	text-align:center;
}

nav ul{
	padding:10px 0px;
}

nav ul li{
	display:inline;
	margin:0px 5px;
}

aside{
	width:190px;
	float:left;
	padding:0px 5px;
	text-align:justify;
}

section{
	margin:0px 5px 0px 5px;
	float:right;
	width:590px;
}

article{
	border:1px solid #FFF;
	margin-bottom:15px;
}

footer{
	background-color:#B5F797;
	text-align:center;
	width:100%;
	clear:both;
	height:30px;
}

form{
	background-color: #d6e5f4;
}

input{
	display: block;
	width: 300px;
	height: 20px;
}

/* Extra CSS3 to add to our form */
input:required{
	background:#ffffff url('mandatory.png') no-repeat 281px 2px;
}

input:focus:valid:required, input:valid:required{
	background:#ffffff url('valid.png') no-repeat 281px 2px;
}

input:focus:invalid{
	background:#ffffff url('invalid.png') no-repeat 281px 2px;
}